week-3/assignments/activity-1.dtd

<!ELEMENT products (product+)>
<!ELEMENT prices (price+)>
<!ELEMENT product (productName, manufacturer, description?, prices, productItems)>
<!ELEMENT productName (#PCDATA)>
<!ELEMENT manufacturer (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT productItems (#PCDATA)>
<!ATTLIST product sku CDATA #REQUIRED createdAt CDATA #REQUIRED shippable CDATA "false">
<!ATTLIST manufacturer id CDATA #REQUIRED>